<a href="https://colab.research.google.com/github/fdluiuc/lecture-notebooks/blob/master/02-adv-python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Initialize Notebook

This course notebook is based upon material from:

- https://colab.research.google.com/notebooks/io.ipynb

In [0]:
try:
  from google.colab import drive
  # Mount to obtain access to files on Google Drive
  drive.mount('/content/drive', force_remount = True)
  is_google_colab = True
  print("Notebook is on Google CoLab")
except:
  is_google_colab = False
  print("Notebook is begin run locally or through another source.")

Mounted at /content/drive
Notebook is on Google CoLab

# Data Structures

### Overview

**Definitions**:

- immutable objects are locked or frozen in their initial state. 
- mutable objects can be modified.

---

**Definitions**:

- ordered objects are sorted or arranged in either:
    - an ascending (1, 2, 3) or 
    - a descending (3, 2, 1) manner
- unordered objects are not sorted or arranged.

---

Four structures:

![Overview of Python Data Structures]()

---

Generally, these structures are used to manipulate and handle data within Python. Though, you will rarely encounter the `tuple` structure. That said, this structure is the most problematic as it is immutable, or unable to have its data changed.

In [0]:
# Dictionary
dict_example = {'course': 'stat', 'deptcode': '430', 'shortname': 'fdl', 'org':'uiuc'}
print(dict_example)

# Set
set_example = {'stat', '430', 'fdl', 'uiuc'}
print(set_example)

# List
list_example = ['stat', '430', 'fdl', 'uiuc']
print(list_example)

# Tuple
tuple_example = ('stat', '430', 'fdl', 'uiuc')
print(tuple_example)

{'course': 'stat', 'deptcode': '430', 'shortname': 'fdl', 'org': 'uiuc'}
{'uiuc', 'fdl', '430', 'stat'}
['stat', '430', 'fdl', 'uiuc']
('stat', '430', 'fdl', 'uiuc')

## *Your* Turn `[ ]` vs `( )`

What happens when you try to change:

1. The second element in `list_example` to 'statistics'
2. The third element in `tuple_example` to 
'486'

Print the results.

In [0]:
# Structures
list_example = ['stat', '430', 'fdl', 'uiuc']
tuple_example = ('stat', '430', 'fdl', 'uiuc')

# Modify code ...

In your own words, describe what happened:

# Dictionary

In [0]:
# Dictionary Overview
dict_example = {'course': 'stat', 'deptcode': '430', 'shortname': 'fdl', 'org':'uiuc'}

# Display key names
print(dict_example.keys())

# Display values
print(dict_example.values())
print(dict_example)
# Retrieve a value with a check.
print(dict_example.get('deptcode', 0))

for key, value in enumerate(dict_example):
   print(f"{key}: {value}: {dict_example.get(value, 'none')}")

dict_keys(['course', 'deptcode', 'shortname', 'org'])
dict_values(['stat', '430', 'fdl', 'uiuc'])
{'course': 'stat', 'deptcode': '430', 'shortname': 'fdl', 'org': 'uiuc'}
430
0: course: stat
1: deptcode: 430
2: shortname: fdl
3: org: uiuc

#### Your Turn

Create your own dictionary consisting of 3 words with their definition.

What two data structure might need to be combined?

In [0]:
# Code for your dictionary....

my_dictionary = ...

for ___ in ________:
  print(f"{____[____]}")

SyntaxError: ignored

# Set

In [0]:
# Create same set piece-wise
set_build_example = set()
set_build_example.add('stat')
set_build_example.add('430')
set_build_example.add('fdl')
set_build_example.add('uiuc')

# See contents
for i in enumerate(set_build_example):
  print(f"{i}")

# More control
for i,j in enumerate(set_build_example):
  print(f"At {i} value is: {j}")

(0, 'uiuc')
(1, 'fdl')
(2, '430')
(3, 'stat')
At 0 value is: uiuc
At 1 value is: fdl
At 2 value is: 430
At 3 value is: stat

# Functionals

In [0]:
# Create a function
def square(x):
    return x**2

# Generate date
my_list = [1, 2, 3, 4]

# Iterate over data
my_squared_list = list(map(square, my_list))

# Display results
print(my_squared_list)
print(my_squared_list2)

[1, 4, 9, 16]
[1, 4, 9, 16]

### List Comprehension

In [0]:
# List comprehension
# [expression for item in list if conditional]
my_squared_list2 = [square(x) for x in my_list]

print(my_squared_list2)

### `for` loop equivalence

In [0]:
# Behind the scenes
# Maps and comprehension setup
my_squared_list2 = [ ]
for item in my_list:
   # .append() adds element to list.
   my_squared_list2.append(
       square(item)
    )

print(my_squared_list2)

[1, 4, 9, 16]

### Lambdas

In [0]:
lambda x: x + 430                    # No Name Function

print(lambda x: x + 430)

(lambda x: x + 430)(2)             # Anonymous definition and call
# [1] 432

add_430 = lambda x: x + 430 # Named function 
print(add_430(2))
# [1] 432

def add_430_v2(x):                   # Named function
  return x + 430

<function <lambda> at 0x7f8f47e132f0>
432

In [0]:
from functools import reduce

vals = [ 0, 3, 1, -2]
subtractions = reduce(lambda x, y: x - y, vals)
print(subtractions)

-2

#### Your Turn

1. Convert the map function from using a named function to using a lambda
 
```
list(map(______, my_list))
```

2. Convert the list items to absolute values using a functional.

In [0]:
# 1. Convert the map function from using a named function to using a lambda
list(map(______, my_list))

# 2. Obtain the absolute value of each item in the list using a functional.
x = [-5, -2, 0, 6, 17]

# functional here.

## Filter

Remove elements from a collection that do not match a specific criteria.

In [0]:
def is_positive_number(x):
    return x >= 0

list_of_numbers = [ 8, -1, -3, 1, 7, 12, 0]
positive_numbers = list(filter(is_positive_number, list_of_numbers))
print(positive_numbers)

# File Systems

There are **three** different locations for files:

- Local: On your hard drive
    - Windows: `C:/Users/netid`
    - macOS: `/Users/netid`
    - Linux: `/home/netid`
- External: On the internet
    - via URL like: https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data
- Google Drive: On your google drive
    - Accessible through: `/content/drive/My Drive/folder/file.txt`

To use files on Google Colab from your Google Drive, first mount it.

**Note:** This is done by default at the top of each workbook. We also include an `is_google_colab` variable.

#### Get Current Working Directory

In [25]:
# Retrieve working directory
import os

current_path = os.getcwd()
print(current_path)

/content

### Mount Google Drive

In [14]:
try:
  from google.colab import drive
  # Mount to obtain access to files on Google Drive
  drive.mount('/content/drive', force_remount = True)
except:
  print("Notebook is begin run locally or through another source.")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

### Access and Write File

- `w`: write
- `r`: read
- `a`: append

**Note:** `w+` gives both **read** and **write**.

In [24]:
# Attempt a write to file
with open('/content/drive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')

# View Data written
with open('/content/drive/My Drive/foo.txt', 'r') as f:
  file_contents = f.read()
  print(f"Viewing contents from python... \n {file_contents}")

# View data 
!echo "Viewing contents from terminal... "
!cat /content/drive/My\ Drive/foo.txt

Viewing contents from python...
 Hello Google Drive!
Viewing contents from terminal...
Hello Google Drive!

### Unmount Google Drive

The following will propogate changes to Google Drive and remove the drive.

In [12]:
try:
   drive.flush_and_unmount()
   print("All changes made in this colab session should now be visible in Drive.")
except:
   print("Not on colab.")

Drive not mounted, so nothing to flush and unmount.
All changes made in this colab session should now be visible in Drive.

# Pandas

## Importing a package

Three ways to import:

- `import pandas`
   - all sub-modules and functions in the pandas module are accessible with pandas.*
   - e.g: `pandas.DataFrame({'A': 1.})`
- `import pandas as pd`,
   - create an alias for the namespace
   - e.g: `pd.DataFrame({'A': 1.})`
- `from pandas import *`
   - all functions will be loaded into the local namespace.
   - e.g: `DataFrame({'A': 1.})`

### Check package is installed

In [27]:
import sys
# Found
'pandas' in sys.modules

True

In [28]:
# Not found
'toad' in sys.modules

False

## Data Frames

Pandas provides the _R_ equivalent of Data Frames in _Python_. To access it, let's import the package using a namespace alias and check the version.

In [29]:
import pandas as pd
pd.__version__

'0.25.3'

From there, we'll construct a DataFrame.

In [0]:
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])

The data frame can be printed with:

In [33]:
# Text
print(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [34]:
# Pretty
display(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [0]:

city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

pd.DataFrame({ 'City name': city_names, 'Population': population })